@import url('https://fonts.cdnfonts.com/css/lemonmilk');
* {
  font-family: 'Lemon/Milk', sans-serif;
}
.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #4c2d90, #000000);
  }
  
  .sign-in-logo {
    margin-bottom: 24px;
  }
  
  .sign-in-card {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff00;
  }
  
  mat-card-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: white;
  }
  
  mat-form-field {
    width: 100%;
  }

  .forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .forgot-password a {
    color: #8e3aff;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .actionButton {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #f04e23, #8e3aff);
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: none;
  }

  .actionButton:hover {
    background-image: linear-gradient(to right, #c9411e, #6c2cc4);
  }
  
  .neon {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff2e00, 0 0 30px #ff2e00, 0 0 40px #ff2e00, 0 0 55px #ff2e00, 0 0 75px #ff2e00;
  }
  
  .neon:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8e3aff, 0 0 30px #8e3aff, 0 0 40px #8e3aff, 0 0 55px #8e3aff, 0 0 75px #8e3aff;
    animation: neonGlow 2s infinite alternate;
  }
  
  @keyframes neonGlow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff2e00, 0 0 30px #ff2e00, 0 0 40px #ff2e00, 0 0 55px #ff2e00, 0 0 75px #ff2e00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8e3aff, 0 0 30px #8e3aff, 0 0 40px #8e3aff, 0 0 55px #8e3aff, 0 0 75px #8e3aff;
    }
  }
  