<mat-toolbar>
  <mat-toolbar-row>
    <span>HATO</span>
    <span class="example-spacer"></span>
    <div class="header-container">
      <div id="header-left">
        <button mat-flat-button aria-label="rooms button">Habitaciones</button>
        <button mat-flat-button aria-label="history button">Historial</button>
      </div>
      <!-- Hola, + {{ nombre }} + ! -->
      <div id="header-right">
        <button mat-flat-button aria-label="logout button">
          Cerrar Sesion
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
