<mat-toolbar>
  <mat-toolbar-row>
    <span>HATO</span>
    <span class="example-spacer"></span>
    <button mat-flat-button aria-label="rooms button">Habitaciones</button>
    <button mat-flat-button aria-label="history button">Historial</button>
    <!-- Hola, + {{ nombre }} + ! -->
    <button mat-flat-button aria-label="logout button">Cerrar Sesion</button>
    <!-- <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    > -->
  </mat-toolbar-row>
</mat-toolbar>
