@import url('https://fonts.cdnfonts.com/css/lemonmilk');
* {
  font-family: 'Lemon/Milk', sans-serif; /*Letra General*/
}
.product-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #4c2d90, #000000);
    
  }
  
  
  .product-box{
    max-width: 400px;
    width: 100%;
    background-color: #ffffff00;
    background-image: linear-gradient(to bottom right, #4c2d90, #000000);
    margin: auto;
    margin-top: 150px;
    padding: 10px;
    gap:10px;
  }

  .options-menu-two {
    display: inline;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .cantidad{
    font-size: 11px;
    margin-top: -15px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cantidad input{
    float: right;
    width: 20%;
  }
  .product-box button{
    margin:Auto;
  }
  mat-card-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: white;
  }
  
  label {
    color:#ffffff;
  }
  mat-form-field {
    width: 100%;
  }

  

  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .actionButton {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #f04e23, #8e3aff);
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border: none;
  }

  .actionButton:hover {
    background-image: linear-gradient(to right, #c9411e, #6c2cc4);
  }
  
  .neon {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff2e00, 0 0 30px #ff2e00, 0 0 40px #ff2e00, 0 0 55px #ff2e00, 0 0 75px #ff2e00;
  }
  
  .neon:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8e3aff, 0 0 30px #8e3aff, 0 0 40px #8e3aff, 0 0 55px #8e3aff, 0 0 75px #8e3aff;
    animation: neonGlow 2s infinite alternate;
  }
  
  @keyframes neonGlow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff2e00, 0 0 30px #ff2e00, 0 0 40px #ff2e00, 0 0 55px #ff2e00, 0 0 75px #ff2e00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #8e3aff, 0 0 30px #8e3aff, 0 0 40px #8e3aff, 0 0 55px #8e3aff, 0 0 75px #8e3aff;
    }
  }
  