<div class="sign-in-container">
    <div class="sign-in-logo">
      <img src="../../../assets/imagenes/Logo.png" alt="Logo de la empresa" />
    </div>
    <mat-card class="sign-in-card">
      <mat-card-title>Iniciar sesión</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="password" />
        </mat-form-field>
        <div class="forgot-password">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="actionButton neon" mat-raised-button color="primary" (click)="createAccount()">
          Crear Cuenta
        </button>
        <button class="actionButton neon" mat-raised-button color="accent" (click)="signIn()">
          Iniciar sesión
        </button>
      </mat-card-actions>
    </mat-card>
  </div>  