<mat-toolbar>
  <mat-toolbar-row class="back--color">
    <img
      src="../../../../assets/imagenes/Logo.png"
      alt="HATO Logo"
      style="max-height: 64px"
    />
    <span class="example-spacer"></span>
    <div class="header-container">
      <div id="header-left">
        <button
          mat-flat-button
          color="primary"
          aria-label="rooms button"
          class="actionButton neon"
        >
          Habitaciones
        </button>
        <button
          mat-flat-button
          color="primary"
          aria-label="history button"
          class="actionButton neon"
        >
          Historial
        </button>
      </div>
      <div id="header-right">
        <span class="neon-title padding--subtitle"> Hola, administrador! </span
        ><br />
        <button
          mat-flat-button
          color="primary"
          aria-label="logout button"
          class="actionButton neon"
        >
          Cerrar Sesion
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
